/* ----------------共通部分------------ */
html{
  width: 100%;
  height: 100%;
  background-image: url("img/back.png");
  user-select: none; /* CSS3 */
-moz-user-select: none; /* Firefox */
-webkit-user-select: none; /* Safari、Chromeなど */
-ms-user-select: none; /* IE10かららしい */
}
body{
  width: 667px;
  height: 375px;
  margin: 0 auto;
  background-color:rgb(255, 232, 203) ;
}

h1{
  padding-top: 10px;
  text-align: center;
  margin: 0;
}

main{
  text-align: center;
  position: relative;
}

.sizuku { 
  animation: sizuku 0.5s linear 0s;  
  /*1s はアニメーションにかかる時間*/
  background-color: rgb(255, 176, 102); 
  /*背景色*/
  border-radius: 50%;
  border: 4px solid rgb(255, 176, 102);  
  /*ボーダーの幅と色*/
  position: absolute;
  z-index: 1000;
} 
@keyframes sizuku {
  0% {
    height: 0; 
    opacity: 1;
    transform: translate(0, 0);
    width: 0;
  }
  100% {
    height: 50px; 
       /*円の高さ幅の最大値*/
      opacity: 0; 
      transform: translate(-25px, -25px); 
      /*高さの半分の値にする*/
      width: 50px;  
      /*基本高さと合わせる*/
    } 
  } 
  
  button{
    border-radius: 5px;
    font-size: 24px;
    /* cursor: pointer; */
    width: 200px;
    height: 48px;
    color: white;
    display: block;
    margin: 10px auto 0 auto;
    background-color: rgb(255, 196, 0);
  }

  /* ------------------ここからトップ画面------------- */
  
  #map{
   height: 280px;
   display: block;
   position: absolute;
   right: 30px;
   top: 0;
   z-index: 1;
   animation: 2.5S ease-in-out infinite rotation ;
  } 
  @keyframes rotation{
    0%{ transform:rotateY(0deg);}
    100%{ transform:rotateY(360deg); }
  }


  .side_list{
   line-height:40px ;
   text-decoration: none;
   display: block;
   position: absolute;
   left: 0;
   top: 0;
  }
  .side_list button{
   text-align: right;
   border: none;
   font-size: 18px;
   border-radius: 5px;
   height: 40px;
   padding-right: 10px;
   padding-left: 0px;
   color: white;
   margin: 10px auto 0 0;
  }
  .unselected{
    width: 150px;
    opacity: 0.6;
  }
  
  #memory_open{
    width:150px ;
    background-color:rgb(177, 147, 49) ;
    height: 20px;
    font-size: 9px;
  }

#inu_change{
  width: 40px;
  height: 20px;
  font-size: 10px;
  border: none;
  display: block;
  position: absolute;
  left: 230px;
  top: 170px;
}

.defInu{
  width: 200px;
  margin: 20px 0px;
  animation: SlideIntoL 0.5s;
}
@keyframes SlideIntoL {
  0% {
    opacity: 0;
    transform: translateX(64px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.changed{
  animation: SlideIntoR 0.5s;
  
}
@keyframes SlideIntoR {
  0% {
    opacity: 0;
    transform: translateX(-64px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#modal_base{
  /* background-color: aqua; */
  width: 667px;
  height: 375px; 
   z-index:100;
  position: absolute;
  top: 0px;
  margin: 0 auto;
  pointer-events: none;
} 

 #modal_content{
  text-align: center;
  width: 619px;
  height: 306px;
	padding:10px 20px;
  border:4px dotted #aaa;
  border-bottom: 4px solid white;
	background:#fff;
  z-index:100;
  visibility: hidden;
} 

 div#modal_content.show{
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 0.5s;
} 
 @-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#modal_open{
  background-color:rgb(177, 147, 49);
  width: 150px;  
  height: 20px;
  font-size: 9px;
}

#slide_btns{
  color: white;
  font-size: 16px;
  padding-left: 20px;
  background-color: white;
  padding-bottom: 13px;
  border: 4px dotted #aaa;
  border-top: none;
  z-index: 5;
  animation: fadeIn 0.5s;
} 
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.slide_btn{
  margin: 0;
  margin-right: 10px;
  background-color: rgb(255, 196, 0);
  width: 90px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  z-index: 5;
}

#modal_close{
  background-color:rgb(177, 147, 49);
}
.modal_img{
  height: 300px;
} 
h3{
  margin-top: 0;
}

/* おいで */
.start{
  margin-top: 0;
}
/* --------------ここまでトップ画面-------------- */

/* --------------ここからプレイ画面 */
.nade{
  background-image: url(img/back_nade.png);
  background-size: cover;
}
.oyatsu{
  background-image: url(img/back_oyatsu.png);
  background-size: cover;
  position: absolute;
  z-index: -3;
}
.tsuna{
  background-image: url(img/back_tsuna.png);
  background-size: cover;
}
.totte{
  background-image: url(img/back_totte.png);
  background-size: cover;
}


.gmstInu{
  width: 200px;
  margin: 0px 50px;
  display: inline-block;
  vertical-align: top;
  z-index: -2;
  animation: gmstInu 1.5s ease infinite;
}
@keyframes gmstInu{
  0% { transform:translateY(0) }
  5% { transform:translateY(0) }
  10% { transform:translateY(0) }
  20% { transform:translateY(-5px) }
  25% { transform:translateY(0) }
  30% { transform:translateY(-5px) }
  50% { transform:translateY(0) }
  100% { transform:translateY(0) }
}

#score❤{
  width: 120px;
  /* margin-bottom: 160px; */
  display: inline-block;
  vertical-align: top;
  animation-name: score❤;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}
@keyframes score❤{
  from{ transform: scale(1.0, 1.0);}
  to{ transform: scale(1.08, 1.08);}
}


/* 中断 */
.fin{
  border: none;
  width: 110px;
  height: 32px;
  font-size: 14px;
  background-color: rgb(202, 174, 83);
  margin:0px;
  margin-right: 0px;
  display: inline-block;
  vertical-align: top;
  /* top: 0; */
}


/* 選択肢ゾーン */
ul{
  list-style: none;
  display: flex;
  width: 600px;
  margin: 10px auto;
  padding: 0px;
}
/* いっこいっこの選択肢 */
li{
  width: 137px;
  font-size: 20px;
  margin: 0 auto;
  background-color: rgb(255, 196, 0);
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: grab;
}
.disabled_c{
  background-color: rgb(255, 225, 128);
  cursor: not-allowed;
}
.correct{
  margin: 0 auto;
  background-color:red;
  /* border: solid 5px red; */
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: none;
}

.wrong{
  margin: 0 auto;
  background-color: rgb(52, 60, 129);
  /* border: solid 5px rgb(52, 60, 129); */
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: none;
}

/* タイマー */
#timer{
  background-color: rgb(155, 155, 155);
  color: white;
  border-radius: 5px;
  width: 60px;
  height: 48px;
  font-size: 18px;
  margin-left:150px;
  line-height: 52px;
  text-align: center;
  cursor:default;
  display: inline-block;
  position: relative;
  bottom: 5px;
}
/* 「つぎ」 */
.next{
  margin: 0 15px;
  display: inline-block;
  position: relative;
  bottom: 5px;
}
/* 「柴犬は…」 */
a{
  border-radius: 5px;
  border: solid 3px rgb(255, 115, 0);
  font-size: 24px;
  line-height:44px ;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 210px;
  height: 44px;
  color: white;
  display: inline-block;
  margin: 0px auto;
  background-color: rgb(255, 196, 0);
}

.disabled{
  background-color: rgb(255, 225, 128);
  cursor: not-allowed;
  pointer-events: none;
}

.hidden{
  display: none;
}

/* おやつあてゲーム */
.hunds{
  width: 667px;
  height: 120px;
  position: absolute;
  bottom: 0px;
  top: 100px;
  left: 0;
  z-index: -1;
  opacity: 0.8;
}
.hundsLR > #choices{
  position: absolute;
  bottom: 20px;
  margin-left: 33px;
}
.choicesLR > li{
  width: 120px;
  border:solid 4px white;
}

.oyatsu_toLR{
  width: 200px;
  margin-bottom:10px ;
  position: relative;
  z-index: -2;
}

/* つなひきゲーム */
.tsuna_timer{
  position: absolute;
  top: 327px;
}
.tsuna_btn{
  position: absolute;
  right: 0;
  top: 325px;
}
.touch_ring{
  margin: 0;
  display: inline;
  left: 500px;
}
#touch_ring{
  width: 100px;
  position: absolute;
  left: 283.5px;
  top:270px;
}
#touch_ring:active{
  opacity: 0.5;
}

#gaz{
  width: 100px;
  height: 180px;
}
#bar{
  position: absolute;
  width: 100px;
  right: 72px;
  top: 90px;
}

/* 後で消す */
#Fp{
  position: absolute;
  left: 0;
}
#Fd{
  position: absolute;
  left: 30px;
}
#Ff{
  position: absolute;
  left: 60px;
}

/* ------------リゾルト画面 */
#resultInu{
  animation: anim-scale 0.5s ease-out;
  transform-origin: 50% 50%;
}
@keyframes anim-scale {
  0% { transform: scale(0.4, 0.4); }
  40% { transform: scale(1.2, 1.2); }
  60% { transform: scale(1, 1); }
  80% { transform: scale(1.1, 1.1); }
  100% { transform: scale(1, 1); }
  }
.resultInu{
  width: 250px;
  margin: 0px auto ;
}
.resultInu_0{
  width: 180px;
  margin: 0px auto;
}
.resultInu_2{
  width: 350px;
  margin: 0px auto;
}

/* またね */
.back{
  background-color: rgb(255, 196, 0);
}

/* -------------おもいで画面---- */
.memory_title{
  margin-top: 20px;
}
h4{
  display: inline; 
  margin:0 45px;
}
/* 
.memory_nade:after{
    content: "";
    position: absolute;
    top: 1em;
    left: 0;
    display: inline-block;
    pointer-events: none;
    width: 300px;
    height: 300px;
  
}
.memory_nade:hover{
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center top;
}
.memory_nade0:hover{
  background-image: url(img/0dog.png);
}
.memory_nade1:hover{
  background-image: url(img/1dog.png);
}
.memory_nade2:hover{
  background-image: url(img/2dog.png);
}
.memory_nade3:hover{
  background-image: url(img/3dog.png);
} */

.memory_table{
  display: flex;
}
table{
  width: 160px;
  font-size: 12px;
  margin: 10px auto 0px auto;
  border: solid 4px white;
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: lighten;
}
table th, table td{
  border:dashed 1px white;
}

.oyatsu_memorytable{
  background-image: url(img/back_oyatsu.png);
  background-size: cover;
}

.memory_niku{
  width: 15px;
}
.td_img{
  padding: 0;
  padding-top:2px;
}
#memory_fin{
  margin-left: 8px;
}
h6{
  margin: 0 auto 5px 8px;
}
.complete{
  margin-bottom: 10px;
}
.not_complete{
  opacity: 0;
}
h5{
  width: 100px;
  display: inline-block; 
  margin:0 30px;
  background-color: rgb(255, 196, 0);
  border-radius: 5px;
  font-size:5px ;
  color: white;
}

#reset_btn{
  position: absolute;
  width: 110px;
  height: 20px;
  font-size: 5px;
  left:300px;
  bottom: 20px;
  background-color: rgb(194, 0, 0);
  border: none;
}

#modal_reset{
  position: absolute;
  left: 160px;
  top:100px;
  background-color: rgba(194, 0, 0, 0.8);
  border-radius: 5px;
  width: 320px;
  height: 180px;
  margin: 0;

  z-index: 3;
  text-align: center;
}
#modal_reset > p{
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0;
}
.no{
  background-color: rgb(202, 174, 83);
}